<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="AcessoSQLSERVER" connectionString="Data Source = localhost; Initial Catalog = emcimob; Integrated Security = False; User ID = sa; Password = jlmfdisk"/>
    <add name="AcessoMYSQL" connectionString="server=localhost;user=root;database=emcimob;password=jlmfdisk"/>
    <add name="AcessoFIREBIRD" connectionString="DataSource=localhost;Database=D:\JLM\Banco\JLMBANCO.FDB;UserId=SYSDBA;Password=jlmfdisk;"/>
    <add name="AcessoFIREBIRDIdeal" connectionString="DataSource=localhost;Database=D:\JLM\Clientes\IDEAL\JLMBANCO.FDB;UserId=SYSDBA;Password=jlmfdisk;"/>
    <add name="AcessoFIREBIRDLider" connectionString="DataSource=localhost;Database=D:\JLM\Clientes\lider\JLMBANCO.FDB;UserId=SYSDBA;Password=jlmfdisk;"/>
  </connectionStrings>
  <appSettings>
    <add name="BancoUtilizado" value="MYSQL" />
  </appSettings>
</configuration>
